{% extends '_base.html' %}
{% load socialaccount tailwind_tags %}

{% block extra_head %}
{% providers_media_js %}
{% endblock %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <h1 class="text-5xl">Django AllAuth Social Login</h1>

    <br /><br />

    {% if user.is_authenticated %}
      {%  if user.profile %}
        <h3>Welcome {{ user.profile.screen_name }}</h3>
      {% else %}
        <h3>Welcome {{ user.username }} you have not yet finished your profile!!!</h3>
      {% endif %}
      <br />
      <br />
      <a href="{% url 'account_logout' %}">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Logout
        </button>
      </a>
    {% else %}
      <!-- GitHub button starts here -->
      <a href="{% provider_login_url 'github' %}" >
        <button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <i class="fa-brands fa-github"></i> Login with GitHub
        </button>
      </a>
      <!-- GitHub button ends here -->
    {% endif %}
{% endblock content %}
